<head>
    <title>Todo List</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Todo List ({{incompleteCount}})</h1> {{> loginButtons}} {{#if currentUser}}
            <form class="new-message">
                <input type="text" name="text" placeholder="Type to add new messages" />
            </form>
            {{/if}}
        </header>
        <ul>
            {{#each messages}} {{> message}} {{/each}}
        </ul>
    </div>
</body>
<template name="message">
    <li>
        <button class="delete">&times;</button>
        <span class="text"><strong>{{username}}</strong> - {{text}}</span>
    </li>
</template>
